In [1]:
%load_ext sql
%sql sqlite:///pp1.db

u'Connected: @pp1.db'

In [2]:
%sql SELECT COUNT(*) FROM Users

 * sqlite:///pp1.db
Done.

[(13422,)]

In [3]:
%sql SELECT COUNT(*) FROM Users WHERE Location = "New York";

 * sqlite:///pp1.db
Done.

[(80,)]

In [4]:
%sql SELECT count(*) FROM (SELECT COUNT(*) AS countAuc FROM ItemCategory GROUP BY itemID) WHERE countAuc = 4;

 * sqlite:///pp1.db
Done.

[(8365,)]

In [10]:
%%sql
select itemID
from Item
where currently = (select currently
                  from Item
                  order by cast(replace(replace(replace(Currently, '$', ''), '.', ''), ',', '') as INT)
                  Desc
                  limit 1);

 * sqlite:///pp1.db
Done.

[(1046871451,)]

In [6]:
%sql SELECT COUNT(*) FROM (SELECT DISTINCT U.userID FROM Users U, Item I WHERE I.SellerID = U.userID AND U.Rating > 1000);

 * sqlite:///pp1.db
Done.

[(3130,)]

In [7]:
%sql SELECT Count(*) FROM (SELECT DISTINCT I.sellerID FROM Item I, Bids B WHERE I.SellerID = B.BidderID);

 * sqlite:///pp1.db
Done.

[(6717,)]

In [11]:
%%sql
select count(distinct Category)
from ItemCategory
where itemID in (select itemID
                 from Bids
                 where cast(replace(replace(Amount, '$', ''),',','') as INT) > 100
                 order by cast(replace(replace(Amount, '$', ''),',','') as INT));

 * sqlite:///pp1.db
Done.

[(150,)]